# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo

# Unreal generated
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Rider
.idea/

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Compiled source
*.obj
*.pch
*.pdb
*.ipch

# Cache
*.cache